<?php
//$url = new \Phalcon\Mvc\Url();
?>
<h1>Products</h1>
<p><a href="<?= $this->url->get('index/smartphones', ['category' => 4]) ?>">Smartphones</a></p>
<p><a href="<?= $this->url->get('index/smartphones', ['category' => 13]) ?>">Meizu</a></p>
<p><a href="<?= $this->url->get('index/smartphones', ['category' => 15]) ?>">Xiaomi</a></p>