<div class="users" id="users">
    <h1 id="content-data"><?= $category->title ?>: </h1>
    <?php
    if (count($products) < 1):
    ?>
    <div class="card">
        <div class="card-header">Пусто</div>
        <div class="card-body">
            <div class="card-data">К сожалению, в данной категории пока нет товаров</div>
        </div>
    </div>
    <?php
    endif;
    foreach ($products as $product) {
        echo "    <div class='card'>
        <div class='card-header'>
            <span class='card-title'>[{$product->id}] {$product->title}</span>
        </div>
        <div class='card-body'>";
            //echo "<div class='card-data'><img src='{$product->photo}'></div>";
            echo "<div class='card-data'>" . nl2br($product->description) . "</div>
            <div class='card-data'>{$product->price}UAH</div>
        </div>
    </div>\n";
    }
    ?>
</div>