<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <title>Test Phalcon Application</title>
    <style>
        body {
            background-color: #dcdcdc;
            color: #404040;
        }

        .users {
            width: 100%;
            max-width: 640px;
            margin: auto;
            border: 0;
            border-left: 15px #3c3c3c solid;
        }

        .card {
            background-color: #c3c3c3;
            color: #3c3c3c;
            border: solid 1px #3c3c3c;
            border-left: 0;
            border-radius: 0 5px 5px 0;
            margin: 0 5px 5px 0;
            padding: 0;
        }

        .card-header {
            background-color: #3c3c3c;
            color: #c3c3c3;
            border-radius: 0 5px 0 0;
            padding: 5px;
        }

        .card-data {
            background-color: #cccccc;
            border: 0;
            margin: 5px 0 5px 0;
            padding: 5px;
        }
    </style>
</head>
<body>

<?= $this->getContent() ?>

</body>
</html>
